---
import Icon from 'astro-icon';
---

<footer class="py-6">
  <ul class="flex justify-center gap-4">
    <li>
      <a href="https://x.com/def90eth">
        <Icon class="h-6 text-gray-600" name="fa-brands:twitter" role="img" aria-label="Twitter" />
      </a>
    </li>
    <li>
      <a href="https://github.com/v8def90">
        <Icon class="h-6 text-gray-600" name="fa-brands:github" role="img" aria-label="GitHub" />
      </a>
    </li>
  </ul>
</footer>
