---
import Icon from 'astro-icon';
---

<footer class="py-6">
  <ul class="flex gap-4 justify-center">
    <li>
      <a rel="prefetch" href="https://twitter.com/">
        <Icon class="h-6 text-gray-600" name="fa-brands:twitter" role="img" arial-label="Twitter" />
      </a>
    </li>
    <li>
      <a rel="prefetch" href="https://github.com/">
        <Icon class="h-6 text-gray-600" name="fa-brands:github" role="img" arial-label="Github" />
      </a>
    </li>
  </ul>
</footer>
