---

---
<header>
    <nav>
        <a href="/">
            <img src="/logo.svg" alt="" width="28" height="28" />
            Tech Flow.
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>