---
const { prev, next, prevTitle = '前へ', nextTitle = '次へ' } = Astro.props;
---

<div class="flex-spacebetween flex flex-wrap gap-4 items-center justify-between mt-10">
  {
    prev ? (
      <a class="text-inherit no-underline hover:underline" rel="prefetch" href={prev}>
        ← {prevTitle}
      </a>
    ) : (
      <span />
    )
  }
  {
    next ? (
      <a class="text-inherit no-underline hover:underline" rel="prefetch" href={next}>
        {nextTitle} →
      </a>
    ) : (
      <span />
    )
  }
</div>
